<div class="main">
  <div class="title">
    <h2>{{getTitel()}}</h2>
  </div>
  <div class="over">
    <hr>
  </div>
  <button (click)="reload()"><i class="bi bi-arrow-clockwise"></i>
  </button>
    <div class="search">
      <div>
        Suche:
        <label class="matinput">
          <input matInput style="border:1px solid dimgrey; width: 175px; border-radius:4px; padding: 2px;">
        </label>
      </div>
    </div>
  <div class="wholetable">
    <table mat-table [dataSource]="fetchInquiriesTableItems()" class="mat-elevation-z8">
      <div *ngFor="let column of getInquiriesTableItemColumnsToDisplay()">
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef>{{column}}</th>
          <td mat-cell *matCellDef="let inquiry">
            <div *ngIf="column == inquiriesTableItemColumn.NAME">
              <a routerLink="{{getRouterLink(inquiry)}}">
                {{getInquiriesTableItemColumn(inquiry, column)}}
              </a>
            </div>
            <div *ngIf="column != inquiriesTableItemColumn.NAME">
              {{getInquiriesTableItemColumn(inquiry, column)}}
            </div>
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="getInquiriesTableItemColumnsToDisplay()"></tr>
      <tr mat-row *matRowDef="let row; columns: getInquiriesTableItemColumnsToDisplay()"></tr>
    </table>
  </div>
  <div class="line">
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
  </div>

</div>
