<div class="main">
  <div class="title">
    <h2>{{getTitel()}}</h2>
  </div>
  <div class="over">
    <hr>
  </div>
  <div class="everything">
    <div class="search">
      <div>
        Show <select name="numbers" id="numbers">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select> entries
        <label class="matinput">
          Suche:
          <input matInput>
        </label>
      </div>
    </div>
  </div>
  <div class="wholetable">
    <table mat-table [dataSource]="fetchInquiriesTableItems()" class="mat-elevation-z8">
      <div *ngFor="let column of getInquiriesTableItemColumnsToDisplay()">
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef>{{column}}</th>
          <td mat-cell *matCellDef="let inquiry">
            <div *ngIf="column == inquiriesTableItemColumn.NAME">
              <a routerLink="{{getRouterLink(inquiry)}}">
                {{getInquiriesTableItemColumn(inquiry, column)}}
              </a>
            </div>
            <div *ngIf="column != inquiriesTableItemColumn.NAME">
              {{getInquiriesTableItemColumn(inquiry, column)}}
            </div>
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="getInquiriesTableItemColumnsToDisplay()"></tr>
      <tr mat-row *matRowDef="let row; columns: getInquiriesTableItemColumnsToDisplay()"></tr>
    </table>
  </div>
  <div class="line">
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
  </div>

</div>
