.config-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 2%;
}

.config-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-raised-button{
  background-color: seagreen;
}

.configuration-mat-sidenav{
  width: 25%;
}
