<mat-sidenav-container>
  <mat-sidenav-content>
    <div>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <form class="config-form">
        <h1>Configuration</h1>

        <button mat-raised-button color="primary" (click)="updateConfigFileContentAndPrepareForDownload()">
          <mat-icon>cloud_download</mat-icon>
          Download
        </button>
        <a id="{{createConfigFileLinkId}}" [href]="configFileUrl" download="teiler.conf" hidden></a>
        <br>
        <div *ngFor="let configBlock of teilerConfigService.configBlocks">
          <h2 id="{{configBlock.title}}">{{configBlock.title}}
            <mat-icon matSuffix *ngIf="configBlock.titleComment.length>0 && configBlock.titleComment[0].length > 0"
                      title="{{configBlock.titleComment.filter(isNotEmpty).concat('\n')}}">info
            </mat-icon>
          </h2>
          <div *ngFor="let configVariable of configBlock.variables">
            <div [formGroup]="variableValueFormMap.get(configVariable.variable) ?? defaultValueFormGroup">
              <mat-form-field class="config-full-width" appearance="outline">
                <mat-label>{{configVariable.variable}}</mat-label>
                <textarea matInput formControlName="configValue">{{configVariable.value}}</textarea>
                <mat-icon matSuffix *ngIf="configVariable.variableComment.length!=0"
                          title="{{configVariable.variableComment.concat('\n')}}">info
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
  <mat-sidenav class="configuration-mat-sidenav" opened mode="side" position="end">
    <mat-nav-list>
      <div *ngFor="let configBlock of teilerConfigService.configBlocks">
        <div *ngIf="configBlock.title != null && configBlock.title != undefined">
          <a mat-list-item href="{{'#'+configBlock.title}}">{{configBlock.title}}</a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
