<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<h2>Verlauf</h2>
<table class="tg">
  <thead>
  <tr>
    <td class="tg-0pky">04.10.2022 10:04:49 - Reply sent to broker. Got reply 200</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="tg-0pky">28.09.2022 00:30:00 - Moving inquiry to archive after 28 days</td>
  </tr>
  <tr>
    <td class="tg-0pky">27.09.2022 10:15:25 - Found 261 results.</td>
  </tr>
  <tr>
    <td class="tg-0pky">27.09.2022 10:14:50 - Show raw query / Show stats</td>
  </tr>
  <tr>
    <td class="tg-0pky">27.09.2022 10:14:47 - Posted to Local Datamanagement</td>
  </tr>
  <tr>
    <td class="tg-0pky">27.09.2022 00:30:00 - Moving inquiry to archive after 28 days</td>
  </tr>
  <tr>
    <td class="tg-0pky">26.09.2022 11:20:37 - Found 261 results</td>
  </tr>
  <tr>
    <td class="tg-0pky">26.09.2022 11:20:01 - Show raw query / Show stats</td>
  </tr>
  <tr>
    <td class="tg-0pky">26.09.2022 11:19:57 - Posted to Local Datamanagement</td>
  </tr>
  <tr>
    <td class="tg-0pky">26.09.2022 00:30:00 - Inquiry was archived since the result is no longer available</td>
  </tr>
  <tr>
    <td class="tg-0pky">26.09.2022 00:30:00 - Inquiry was archived since the result is no longer available</td>
  </tr>
  <tr>
    <td class="tg-0pky">26.09.2022 00:30:00 - Inquiry was archived since the result is no longer available</td>
  </tr>
  <tr>
    <td class="tg-0pky">25.09.2022 00:30:00 - Inquiry was archived since the result is no longer available</td>
  </tr>
  </tbody>
</table>
