<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div mat-dialog-content>
  <p><br>Startzeit: <br> Bisherige Laufzeit: 0 min<br>Restlaufzeit: 0 min <br><br></p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  style="width: 25%; background-color: blue; color: white; border: 1px solid blue" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
  <p><br>-requesting local data management statistics<br>-requesting local data management results</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
</div>
