<div class="teiler-box">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="teiler-imagebox">
      <div class="teiler-box-icon" *ngIf="teilerApp.iconClass != undefined">
        <i class="{{teilerApp.iconClass}}"></i>
      </div>
      <div class="teiler-box-image" *ngIf="teilerApp.iconSourceUrl != undefined">
        <img src="{{teilerApp.iconSourceUrl}}">
      </div>
    </div>
    <div class="teiler-textbox">
      <div class="teiler-box-title">{{teilerApp.title}}</div>
      <div class="teiler-box-description">{{teilerApp.description}}</div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" class="teiler-box-checks">
    <div *ngIf="showFrontendCheck()">
      <div *ngIf="teilerApp.frontendReachable == true">
        <div title="frontend reachable" class="teiler-box-check-frontend check-reachable text-circle">F</div>
      </div>
      <div *ngIf="teilerApp.frontendReachable == false">
        <div title="frontend unreachable" class="teiler-box-check-frontend check-unreachable text-circle">F</div>
      </div>
      <div *ngIf="teilerApp.frontendReachable == null || teilerApp.frontendReachable == undefined">
        <div title="waiting for frontend" class="teiler-box-check-frontend check-waiting text-circle">F</div>
      </div>
    </div>
    <div *ngIf="showBackendCheck()">
      <div *ngIf="teilerApp.backendReachable == true">
        <div title="backend reachable" class="teiler-box-check-frontend check-reachable text-circle">B</div>
      </div>
      <div *ngIf="teilerApp.backendReachable == false">
        <div title="backend unreachable" class="teiler-box-check-frontend check-unreachable text-circle">B</div>
      </div>
      <div *ngIf="teilerApp.backendReachable == null || teilerApp.backendReachable == undefined">
        <div title="waiting for backend" class="teiler-box-check-frontend check-waiting text-circle">B</div>
      </div>
    </div>
  </div>
</div>
