<div class="content" role="main">
  <div class="card-container">
    <div *ngFor="let teilerApp of teilerService.teilerApps">
      <div *ngIf="!teilerApp.externLink">
        <a class="card" routerLink="{{'/'+teilerApp.routerLink}}">
          <div class="main-menu-element-icon">
            <div *ngIf="teilerApp.iconClass != undefined">
              <i class="{{teilerApp.iconClass}}"></i>
            </div>
            <div *ngIf="teilerApp.iconSourceUrl != undefined">
              <img src="{{teilerApp.iconSourceUrl}}" alt="image">
            </div>
          </div>
          <span>{{teilerApp.title}}</span>
        </a>
      </div>
      <div *ngIf="teilerApp.externLink">
        <a class="card" routerLink="{{'/'+teilerApp.routerLink}}" [externalLink]="teilerApp.sourceUrl??''">
          <div class="main-menu-element-icon">
            <div *ngIf="teilerApp.iconClass != undefined">
              <i class="{{teilerApp.iconClass}}"></i>
            </div>
            <div *ngIf="teilerApp.iconSourceUrl != undefined">
              <img src="{{teilerApp.iconSourceUrl}}" alt="image">
            </div>
          </div>
          <span>{{teilerApp.title}}</span>
        </a>
      </div>

    </div>
  </div>
</div>
