<!-- Toolbar -->

<div class="toolbar" role="banner">
  <a routerLink="/">
    <img
      width="40"
      alt="DKTK Teiler"
      src="https://dktk.dkfz.de/packages/dktk/img/logo-dktk-sign.svg"
    />
  </a>
  <span i18n>Teiler UI</span>
  <div class="spacer"></div>

  <div>
    <span style="color:white">{{user}}</span>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <div *ngIf="!isLoggedIn">
      <a routerLink="login"><span style="color:white">log in</span></a>
    </div>
    <div *ngIf="isLoggedIn">
      <a routerLink="logout" (click)="authService.logout()"><span style="color:white">log out</span></a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
</div>

<div>
  <app-sidebar></app-sidebar>
</div>
