<!-- Toolbar -->

<div class="toolbar" role="banner">
  <a routerLink="{{'/' + routeManagerService.mainRouterLink}}">
    <img
      width="40"
      alt="DKTK Teiler"
      src="https://dktk.dkfz.de/packages/dktk/img/logo-dktk-sign.svg"
    />
  </a>
  <span i18n>Teiler</span>
  <div class="spacer"></div>

  <div>
    <span style="color:white">{{user}}</span>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <div *ngIf="!isLoggedIn">
      <a routerLink="{{'/' + routeManagerService.loginRouterLink}}"><span style="color:white">log in</span></a>
    </div>
    <div *ngIf="isLoggedIn">
      <a routerLink="{{'/' + routeManagerService.logoutRouterLink}}" (click)="authService.logout()"><span style="color:white">log out</span></a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div>
    <span>DE</span>
  </div>
  &nbsp;&nbsp;&nbsp;
</div>

<div>
  <app-sidebar></app-sidebar>
</div>
