<br>
<br>
<br>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" *ngIf="!isMainSite()">
    <mat-nav-list>
      <div *ngFor="let teilerApp of teilerService.teilerApps">
        <div *ngIf="teilerApp.inMenu">
          <div *ngIf="!teilerApp.externLink">
            <!-- TODO: -->
            <!--<i class="{{teilerApp.iconClass}}"></i>-->
            <a mat-list-item routerLink="{{'/'+teilerApp.routerLink}}">{{teilerApp.title}}</a>
          </div>
          <div *ngIf="teilerApp.externLink">
            <!--<i class="{{teilerApp.iconClass}}"></i>-->
            <a mat-list-item routerLink="{{'/'+teilerApp.routerLink}}"
               [externalLink]="teilerApp.sourceUrl??''">{{teilerApp.title}}</a>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="router-style">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
