<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div class="main">
  <div class="title">
    <h2>Uploads zur zentralen MDS Datenbank</h2>
  </div>
  <div class ="over">
    <hr>
  </div>
  <div>
    <h3>Upload manuell ausführen</h3>
  </div>
  <div class="over">
    <hr>
  </div>
  <br>
  <div class="downloadandselector">
    <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Auswahl</mat-label>
            <select matNativeControl [formControl]="optionControl" name="option">
              <option *ngFor="let option of op1" [value]="option.value">{{ option.value }}</option>
            </select>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperNext>Nächste</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Auswahl</mat-label>
            <select matNativeControl [formControl]="option2Control" name="option">
              <option *ngFor="let option of op2" [value]="option.value">{{ option.value }}</option>
            </select>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperPrevious>Zurück</button>
            <button mat-stroked-button matStepperNext>Nächste</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Auswahl</mat-label>
            <select matNativeControl [formControl]="option3Control" name="option">
              <option *ngFor="let option of op3" [value]="option.value">{{ option.value }}</option>
            </select>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperPrevious>Zurück</button>
            <button mat-stroked-button matStepperNext>Ihre Auswahl</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <h4>Ihre Auswahl:</h4>
          <p>{{optionControl.value}}</p>
          <p>{{option2Control.value}}</p>
          <p>{{option3Control.value}}</p>
          <br>
          <div>
            <button mat-stroked-button (click)="stepper.reset()">Auswahl zurücksetzen</button>
            <button mat-stroked-button (click)="openDialog()">Starten</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
  <br>
  <div class="over">
    <hr>
  </div>
  <br>
  <div class="search">
    Suche:
    <label class="matinput" >
      <input matInput style="border:1px solid dimgrey; width: 175px; border-radius:4px; padding: 2px;">
    </label>
  </div>

  <div class="wholetable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="uploadid">
        <th mat-header-cell *matHeaderCellDef> UploadID </th>
        <td mat-cell *matCellDef="let element"> {{element.uploadid}}</td>
      </ng-container>

      <ng-container matColumnDef="startedat">
        <th mat-header-cell *matHeaderCellDef> Gestartet um </th>
        <td mat-cell *matCellDef="let element"> {{element.startedat}}</td>
      </ng-container>

      <ng-container matColumnDef="startedfrom">
        <th mat-header-cell *matHeaderCellDef> Gestartet von </th>
        <td mat-cell *matCellDef="let element"> {{element.startedfrom}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
