@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");

header{
  background-color: blue;
  padding: 0.05%;
}
.main{
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
}
.over{
  width:100%;
  color: #fcfcfc;
}
.search{
  font-family: Segoe Ui, serif;
  color:dimgrey;
  font-size: 16px;
  margin-left:960px;
  margin-top: 2.5%;
}

h1{
  color: white;
  text-align: left;
  font-family: Segoe Ui, serif;
  font-size: 28px;
}
h2{
  text-align: left;
  font-family:Segoe UI,serif;
  color:dimgrey;
  font-size: 32px;
  margin-top: 1.5%;
}
.mat-elevation-z8 {
  width:100%;
  border-left: 30px;
  font-family:Segoe UI,serif;
  color:dimgrey;
  margin-top: 2%;
}


