name: Docker CI

on:
  push:
    branches:
      - developer
    # Build then a new version is tagged
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - developer
  schedule:
    # Build every night at 1am
    - cron: '0 1 * * *'
jobs:
  build:
    uses: samply/github-workflows/.github/workflows/docker-ci.yml@main
    with:
      # The Docker Hub Repository you want eventually push to, e.g samply/share-client
      image-name: "samply/teiler-ui"
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
